/* CSS Document */
/* Used for general course overview icons; can be used with or without the Super Style sheet */
  .uqbs-general-container {
    display: flex;
    align-items: center; 
    width: 100%;
    min-width: 250px;
    background: #51247A; 
    border-radius: 5px;
    overflow: auto;
    font-family: Arial, sans-serif;
    max-width: 100%;
    margin-top: 1rem;
    line-height: 1.6;
    overflow: hidden;
  }
  .uqbs-general-icon-container {
    min-width: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #FFF;
    border-radius: 50%;
    margin-right: 1rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .uqbs-general-icon-container svg {
    width: 1.25rem;
    height: 1.25rem;
    stroke: #51247A;
    stroke-width: 0.125rem;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .uqbs-general-text {
    color: #FFFFFF;
    font-weight: bold;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: 1.2rem;
  }
  .uqbs-general-screen-reader-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
        .uqbs-copyright {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
			font-family: "Open Sans", Arial, sans-serif;
			font-size: 13px;
			padding-top: 2vh;
			color: #262626;
        }
        .uqbs-copyright-disclaimer {
            font-size: 8pt;
            color: #999490;
            text-align: center;
        }
		.uqbs-copyright table{
			font-family: "Open Sans", Arial, sans-serif;
			border: 1px solid #cdcdcd;
			font-size: 0.875rem;
			padding: 0px;
			margin: 0px;
			border-collapse: collapse;
			border-spacing: 0;
			color: #262626;
		}
		.uqbs-copyright th{
			background-color: #f8f8f8;
			border: 1px solid #cdcdcd;
			color: #262626;
		}
		.uqbs-copyright th, .uqbs-copyright td{
			padding: 0.75rem;
			color: #262626;
		}
.uqbs-tinymce{
      display: block;
      width: 100%!important;
      height: auto;
      padding: 32px;
	  margin-bottom: 0;	
    }
